<div class="body container">
  <!-- <h3>This is Body Component</h3> -->
  <!-- <app-databinding></app-databinding> -->
   <!-- <app-directives> </app-directives> -->
  <!-- <app-my-modal>
    <h1 id="myModalTitle">Registration Form</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3qAb3e9auwnxJ1RmaypTdsieWkl2wb4u3cg&s" alt="">
  </app-my-modal> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-user-list></app-user-list> -->
  <!-- <app-employee-crud></app-employee-crud>
  <app-tic-tac-toe></app-tic-tac-toe>
  <app-pipe-demo></app-pipe-demo>
  <app-parent-demo></app-parent-demo> -->
  <!-- <app-clock-demo></app-clock-demo> -->
  <!-- <button (click)="flag=!flag">Toggle</button>
  @if(flag){
    <app-demo1></app-demo1>
  }@else {
    <app-demo2></app-demo2>
  } -->
  <!-- <app-http-demo1></app-http-demo1> -->
  <!-- <app-comment-list></app-comment-list> -->
   <!-- <app-observable-demo1></app-observable-demo1> -->
  <!-- <app-observable-demo2></app-observable-demo2> -->

  <!-- <app-observable-demo3></app-observable-demo3> -->
  <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <app-subject-demo1></app-subject-demo1> -->
   <!-- <div class = "row">
    <div class = "col-sm-4">
      <app-todo-list></app-todo-list>
    </div>
    <div class = "col-sm-4">
      <app-todo-add></app-todo-add>
    </div>
   </div>
   <app-employee-subject></app-employee-subject> -->

   <!-- <app-signal-demo1></app-signal-demo1>
   <app-signal-demo2></app-signal-demo2> -->
   <!-- <app-todo-signal></app-todo-signal>
   <app-form-demo1></app-form-demo1> -->
   <!-- <app-template-form></app-template-form> -->
  <!-- <app-model-driven-form></app-model-driven-form> -->
   <router-outlet></router-outlet>
</div>