<p>observable-demo3 works!</p>
<div class="jumbotron">
    <h1>Search Something</h1>
    <form [formGroup]="searchForm">
        <input formControlName="searchField" />
    </form>
    <table class="table bordered">
        <tbody>
            @for(user of searchResult$ | async ; track $index;){
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.height}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="border border-2 rounded-2 p-2 m2 col-sm-4 ">
    <h1>Login</h1>
    <form action="/action_page.php">
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>