<h3 text = "text-center">Let's Learn Signal and Effects</h3>
<h3 class="text-center">Let's Learn Signal & Effects</h3>
<div class="col-sm-4 offset-4">
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">{{userData.id}}</h5>
      <h5 class="card-title">{{userData.username}}</h5>
      <p class="card-text">{{userData.email}}</p>
      <p class="card-text">{{userData.phone}}</p>
      <p class="card-text">{{userData.address.city}}</p>
      <p class="card-text">{{userData.website}}</p>
      <button class="btn btn-primary" (click)="incrementUserId()">Increment</button>
      <button class="btn btn-danger mx-2" (click)="destroyEffect()">Destroy Effect</button>
    </div>
  </div>
</div>