<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink = "home" routerLinkActiive = "active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "aboutus" routerLinkActiive = "active">AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "careers" routerLinkActiive = "active">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "contactus" routerLinkActiive = "active">ContactUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "users" routerLinkActiive = "active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "products" routerLinkActiive = "active">ProductList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "uploadvideos" routerLinkActiive = "active">UploadVideos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>